
/*
============================================
= Profile Page
============================================
*/
.bg-profile-page{
    background: url(../../Photos/background/bg-5.gif) no-repeat scroll center center/cover
}

.profile-image {
    border-radius: 50%;
    left: 0;
    margin-bottom: 20px;
    position: absolute;
    background: #ccc;
}

.profile-image img {
    display: block;
    width: 270px;
    border-radius: 50%;
}

.edit-profile-div{
    /* float: right; */
    position: absolute;
    top: 0px;
    right: 0px;
}

.profile-game .left-img{
    float: left;
    width: 30%;
}

.profile-game .left-div{
    float: left;
    width: 66%;
    margin-left: 20px;
}

.profile-game .right-div{
    float: right;
}

/* Text Glowing */
.text-glowing{
    color: #ccc;
}
.text-glowing:hover {
    font-size: 64px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0064e6, 0 0 40px #0064e6, 0 0 50px #0064e6, 0 0 60px #0064e6, 0 0 70px #0064e6;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.clear::after{
    content: "";
    display: block;
    clear:both;
}

/*
============================================
= Edit Profile Page
============================================
*/

.edit-profile-img {
    display: block;
    width: 270px;
    border-radius: 50%;
}

/*
============================================
= Detail Games Page
============================================
*/

.inactive-star{
    color: #666;
}

.active-star{
    color: orange;
}

/*
============================================
= Detail Games Page
============================================
*/

.img-user{
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
}

.msg-user{
    flex: 1 0 0;
}
.msg-time-left{
    position: absolute;
    left: 10px;
    bottom: 5px;
}
.msg-time-right{
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.direct-chat-messages{
    height: 400px;
    overflow-y: scroll;
    padding: 0px 10px;
}

/*
============================================
= Developer Page
============================================
*/

.img-developer {
    width: 300px;
    height: 300px;
}

/*
==========================================
= Min Height
==========================================
*/
.min-h50{
    min-height: 50vh;
}
